In [3]:
import pandas as pd
import numpy as np

In [5]:
data = [
    [1.4, np.nan],
    [7.1, -4.5],
    [np.nan, np.nan],
    [0.75, -1.3]
]
df = pd.DataFrame(data, columns = ["one",'two'], index = ["a","b","c","d"])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

<h1>DataFrame 데이터 분석용 통계함수 사용

In [10]:
# sum()
df.sum(axis=0)
# axis=0 -> 열(세로)의 합 / axis=1 -> 행(가로)의 합

one    9.25
two   -5.80
dtype: float64

In [17]:
# 특정 열&행에 대한 합
df["one"].sum()
df.loc["b"].sum()

2.5999999999999996

In [19]:
# .mean() -> 평균 / .var() -> 분산
# 인덱싱 없이 함수 실행 - 각 열에 대한 통계량 나옴
df.mean()

one    3.083333
two   -2.900000
dtype: float64

In [20]:
df.mean(axis=1, skipna=False)
# 행에 대한 값? -> 인자에 axis=1 !
# Nan을 무시하지않고 평균값에 같이 계산하고 싶으면? -> skipna = False !

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

<h3> Q. one 열의 Nan에는 나머지 성분의 평균값으로,<br> two열의 Nan에는 나머지 성분의 최솟값으로 대체해보기

In [24]:
one_mean = df["one"].mean()
one_mean

3.0833333333333335

In [27]:
df["one"] = df["one"].fillna(value = one_mean)
# fillna(value = ) -> 해당 범위 내 Nan을 value값으로 변환!

In [29]:
two_min = df["two"].min()
two_min

-4.5

In [30]:
df["two"] = df["two"].fillna(value = two_min)
df

        one  two
a  1.400000 -4.5
b  7.100000 -4.5
c  3.083333 -4.5
d  0.750000 -1.3