In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
s = pd.Series([1,3,5,np.nan,6,8])
# Series? -> 정수 index값을 기본적으로 포함한 1차원 자료배열
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [17]:
s.values
# series의 값만 확인
s = pd.Series([1,3,6,8], index=['a','b','c','d'])
# series 값/인덱스 변경 O
s

array([1, 3, 6, 8], dtype=int64)

In [4]:
dates = pd.date_range('20200101', periods=6)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-01-01  0.025217  1.287531 -0.585971  0.497830
2020-01-02 -1.258731 -0.199184 -0.491574 -0.417633
2020-01-03  0.094545  0.449192 -0.992508  1.303866
2020-01-04 -1.213669 -0.550906 -0.391218 -0.167136
2020-01-05 -1.534180 -0.493145 -1.925611 -0.050813
2020-01-06  0.429004  0.762320  1.261317  0.626230

In [20]:
df2 = pd.DataFrame({'A' : 1.0,
                   'B' : pd.Timestamp('20200102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3]*4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo'
                   })
df2

     A          B    C  D      E    F
0  1.0 2020-01-02  1.0  3   test  foo
1  1.0 2020-01-02  1.0  3  train  foo
2  1.0 2020-01-02  1.0  3   test  foo
3  1.0 2020-01-02  1.0  3  train  foo

In [21]:
df2.dtypes
# 결과물의 데이터 타입 확인

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [26]:
df.tail(3)
# 끝에서 마지막 3줄
df.head(3)
# 위에서 처음 3줄

                   A         B         C         D
2020-01-01  0.025217  1.287531 -0.585971  0.497830
2020-01-02 -1.258731 -0.199184 -0.491574 -0.417633
2020-01-03  0.094545  0.449192 -0.992508  1.303866

In [28]:
df.index
# index , 열column , numpy데이터 세부정보

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [29]:
df.describe()
# 대략적 통계 정보

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.576302  0.209301 -0.520927  0.298724
std    0.849938  0.743527  1.038637  0.633969
min   -1.534180 -0.550906 -1.925611 -0.417633
25%   -1.247465 -0.419655 -0.890874 -0.138055
50%   -0.594226  0.125004 -0.538772  0.223508
75%    0.077213  0.684038 -0.416307  0.594130
max    0.429004  1.287531  1.261317  1.303866

In [30]:
df.T
# 데이터 전치 -> index와 column 뒤바꿈

   2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05  2020-01-06
A    0.025217   -1.258731    0.094545   -1.213669   -1.534180    0.429004
B    1.287531   -0.199184    0.449192   -0.550906   -0.493145    0.762320
C   -0.585971   -0.491574   -0.992508   -0.391218   -1.925611    1.261317
D    0.497830   -0.417633    1.303866   -0.167136   -0.050813    0.626230

In [38]:
df.sort_index(axis=1, ascending=False)
# 축별로 정렬

                   D         C         B         A
2020-01-01  0.497830 -0.585971  1.287531  0.025217
2020-01-02 -0.417633 -0.491574 -0.199184 -1.258731
2020-01-03  1.303866 -0.992508  0.449192  0.094545
2020-01-04 -0.167136 -0.391218 -0.550906 -1.213669
2020-01-05 -0.050813 -1.925611 -0.493145 -1.534180
2020-01-06  0.626230  1.261317  0.762320  0.429004

In [41]:
df.sort_values(by='B')
# 값별로 정렬 -> 지금은 B의 데이터가 작은 순서대로 배열

                   A         B         C         D
2020-01-04 -1.213669 -0.550906 -0.391218 -0.167136
2020-01-05 -1.534180 -0.493145 -1.925611 -0.050813
2020-01-02 -1.258731 -0.199184 -0.491574 -0.417633
2020-01-03  0.094545  0.449192 -0.992508  1.303866
2020-01-06  0.429004  0.762320  1.261317  0.626230
2020-01-01  0.025217  1.287531 -0.585971  0.497830

In [42]:
df['A']
# Getting데이터얻기 -> df.A와 동일한 Series 생성하는 단일 열 선택

2020-01-01    0.025217
2020-01-02   -1.258731
2020-01-03    0.094545
2020-01-04   -1.213669
2020-01-05   -1.534180
2020-01-06    0.429004
Freq: D, Name: A, dtype: float64

In [43]:
df[0:3]
# [] -> 행 분할

                   A         B         C         D
2020-01-01  0.025217  1.287531 -0.585971  0.497830
2020-01-02 -1.258731 -0.199184 -0.491574 -0.417633
2020-01-03  0.094545  0.449192 -0.992508  1.303866

In [48]:
df['20200101':'20200103']

                   A         B         C         D
2020-01-01  0.025217  1.287531 -0.585971  0.497830
2020-01-02 -1.258731 -0.199184 -0.491574 -0.417633
2020-01-03  0.094545  0.449192 -0.992508  1.303866

In [51]:
df.loc[dates[0]]
# Label통한 선택 -> 횡단면 획득(0번째 dates의 값 얻어옴)

A    0.025217
B    1.287531
C   -0.585971
D    0.497830
Name: 2020-01-01 00:00:00, dtype: float64

In [54]:
df.loc[:,['A','B']]
# : -> index축은 전체 , A B 축만 얻어옴
# df.loc[dates[0],['A','B']] -> 0번째 date
# df.loc['20200102':'20200104', ['A','B']] -> index축 & A,B 축 얻어옴

                   A         B
2020-01-01  0.025217  1.287531
2020-01-02 -1.258731 -0.199184
2020-01-03  0.094545  0.449192
2020-01-04 -1.213669 -0.550906
2020-01-05 -1.534180 -0.493145
2020-01-06  0.429004  0.762320