In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
s = pd.Series([1,3,5,np.nan,6,8])
# Series? -> 정수 index값을 기본적으로 포함한 1차원 자료배열
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [17]:
s.values
# series의 값만 확인
s = pd.Series([1,3,6,8], index=['a','b','c','d'])
# series 값/인덱스 변경 O
s

array([1, 3, 6, 8], dtype=int64)

In [8]:
dates = pd.date_range('20200101', periods=6)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-01-01  1.981941  0.144131  1.360893  0.921298
2020-01-02 -0.218870 -0.279379 -0.364372  0.455894
2020-01-03  0.415994 -1.770735 -0.167865  1.044755
2020-01-04 -0.280915 -0.470731 -1.014859 -0.477542
2020-01-05  0.109581  0.861716 -1.025399  0.822405
2020-01-06 -1.239584 -0.831058 -0.284851 -0.560747

In [10]:
df2 = pd.DataFrame({'A' : 1.0,
                   'B' : pd.Timestamp('20200102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3]*4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo'
                   })
df2

     A          B    C  D      E    F
0  1.0 2020-01-02  1.0  3   test  foo
1  1.0 2020-01-02  1.0  3  train  foo
2  1.0 2020-01-02  1.0  3   test  foo
3  1.0 2020-01-02  1.0  3  train  foo

In [11]:
df2.dtypes
# 결과물의 데이터 타입 확인

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [12]:
df.tail(3)
# 끝에서 마지막 3줄
df.head(3)
# 위에서 처음 3줄

                   A         B         C         D
2020-01-01  1.981941  0.144131  1.360893  0.921298
2020-01-02 -0.218870 -0.279379 -0.364372  0.455894
2020-01-03  0.415994 -1.770735 -0.167865  1.044755

In [13]:
df.index
# index , 열column , numpy데이터 세부정보

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df.describe()
# 대략적 통계 정보

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.128024 -0.391009 -0.249409  0.367677
std    1.065664  0.891269  0.872040  0.714962
min   -1.239584 -1.770735 -1.025399 -0.560747
25%   -0.265403 -0.740976 -0.852238 -0.244183
50%   -0.054645 -0.375055 -0.324612  0.639149
75%    0.339390  0.038253 -0.197111  0.896574
max    1.981941  0.861716  1.360893  1.044755

In [15]:
df.T
# 데이터 전치 -> index와 column 뒤바꿈

   2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05  2020-01-06
A    1.981941   -0.218870    0.415994   -0.280915    0.109581   -1.239584
B    0.144131   -0.279379   -1.770735   -0.470731    0.861716   -0.831058
C    1.360893   -0.364372   -0.167865   -1.014859   -1.025399   -0.284851
D    0.921298    0.455894    1.044755   -0.477542    0.822405   -0.560747

In [16]:
df.sort_index(axis=1, ascending=False)
# 축별로 정렬

                   D         C         B         A
2020-01-01  0.921298  1.360893  0.144131  1.981941
2020-01-02  0.455894 -0.364372 -0.279379 -0.218870
2020-01-03  1.044755 -0.167865 -1.770735  0.415994
2020-01-04 -0.477542 -1.014859 -0.470731 -0.280915
2020-01-05  0.822405 -1.025399  0.861716  0.109581
2020-01-06 -0.560747 -0.284851 -0.831058 -1.239584

In [41]:
df.sort_values(by='B')
# 값별로 정렬 -> 지금은 B의 데이터가 작은 순서대로 배열

                   A         B         C         D
2020-01-04 -1.213669 -0.550906 -0.391218 -0.167136
2020-01-05 -1.534180 -0.493145 -1.925611 -0.050813
2020-01-02 -1.258731 -0.199184 -0.491574 -0.417633
2020-01-03  0.094545  0.449192 -0.992508  1.303866
2020-01-06  0.429004  0.762320  1.261317  0.626230
2020-01-01  0.025217  1.287531 -0.585971  0.497830

In [17]:
df['A']
# Getting데이터얻기 -> df.A와 동일한 Series 생성하는 단일 열 선택

2020-01-01    1.981941
2020-01-02   -0.218870
2020-01-03    0.415994
2020-01-04   -0.280915
2020-01-05    0.109581
2020-01-06   -1.239584
Freq: D, Name: A, dtype: float64

In [43]:
df[0:3]
# [] -> 행 분할

                   A         B         C         D
2020-01-01  0.025217  1.287531 -0.585971  0.497830
2020-01-02 -1.258731 -0.199184 -0.491574 -0.417633
2020-01-03  0.094545  0.449192 -0.992508  1.303866

In [48]:
df['20200101':'20200103']

                   A         B         C         D
2020-01-01  0.025217  1.287531 -0.585971  0.497830
2020-01-02 -1.258731 -0.199184 -0.491574 -0.417633
2020-01-03  0.094545  0.449192 -0.992508  1.303866

In [51]:
df.loc[dates[0]]
# Label통한 선택 -> 횡단면 획득(0번째 dates의 값 얻어옴)

A    0.025217
B    1.287531
C   -0.585971
D    0.497830
Name: 2020-01-01 00:00:00, dtype: float64

In [19]:
df.loc[:,['A','B']]
# : -> index축은 전체 , A B 축만 얻어옴
# df.loc[dates[0],['A','B']] -> 0번째 date
# df.loc['20200102':'20200104', ['A','B']] -> index축 & A,B 축 얻어옴

                   A         B
2020-01-01  1.981941  0.144131
2020-01-02 -0.218870 -0.279379
2020-01-03  0.415994 -1.770735
2020-01-04 -0.280915 -0.470731
2020-01-05  0.109581  0.861716
2020-01-06 -1.239584 -0.831058

In [18]:
df.loc['20200101',['A','B']]
# 단일 차원 객체 반환

A    1.981941
B    0.144131
Name: 2020-01-01 00:00:00, dtype: float64

In [23]:
df.loc[dates[0],'A']
# 스칼라값(하나의 값인듯)
# = df.at[dates[0],'A'] (<- 더 빠른 연산 O)

1.9819413793698768

In [24]:
df

                   A         B         C         D
2020-01-01  1.981941  0.144131  1.360893  0.921298
2020-01-02 -0.218870 -0.279379 -0.364372  0.455894
2020-01-03  0.415994 -1.770735 -0.167865  1.044755
2020-01-04 -0.280915 -0.470731 -1.014859 -0.477542
2020-01-05  0.109581  0.861716 -1.025399  0.822405
2020-01-06 -1.239584 -0.831058 -0.284851 -0.560747

In [21]:
df.iloc[3]
# 위치로 선택 -> 넘겨받은 위치(3번째줄)를 기준으로 선택

A   -0.280915
B   -0.470731
C   -1.014859
D   -0.477542
Name: 2020-01-04 00:00:00, dtype: float64

In [34]:
df.iloc[3:5,0:2]
# 3:5 -> 3~4! (맨 마지막은 포함X)
# 0:2 -> 마찬가지

                   A         B
2020-01-04 -0.280915 -0.470731
2020-01-05  0.109581  0.861716

In [36]:
df.iloc[1:3,:]
# 행 나누기(열은 : = 그대로 있어라~)
df.iloc[:,1:3]
# 열 나누기

                   B         C
2020-01-01  0.144131  1.360893
2020-01-02 -0.279379 -0.364372
2020-01-03 -1.770735 -0.167865
2020-01-04 -0.470731 -1.014859
2020-01-05  0.861716 -1.025399
2020-01-06 -0.831058 -0.284851

In [38]:
df.iloc[1,1]
# 명시적으로 값 얻기
# 마찬가지 df.iat[1,1] -> 빠른 연산

-0.27937859963301087

In [39]:
df[df.A>0]
# A 데이터를 기준, 0보다 큰 녀석들만 보여줌

                   A         B         C         D
2020-01-01  1.981941  0.144131  1.360893  0.921298
2020-01-03  0.415994 -1.770735 -0.167865  1.044755
2020-01-05  0.109581  0.861716 -1.025399  0.822405

In [40]:
df[df>0]
# Boolean조건 충족하는 데이터프레임 값 추출

                   A         B         C         D
2020-01-01  1.981941  0.144131  1.360893  0.921298
2020-01-02       NaN       NaN       NaN  0.455894
2020-01-03  0.415994       NaN       NaN  1.044755
2020-01-04       NaN       NaN       NaN       NaN
2020-01-05  0.109581  0.861716       NaN  0.822405
2020-01-06       NaN       NaN       NaN       NaN

In [41]:
df2 = df.copy()
df2['E'] = ['one','one','two','three','four','three']
df2

                   A         B         C         D      E
2020-01-01  1.981941  0.144131  1.360893  0.921298    one
2020-01-02 -0.218870 -0.279379 -0.364372  0.455894    one
2020-01-03  0.415994 -1.770735 -0.167865  1.044755    two
2020-01-04 -0.280915 -0.470731 -1.014859 -0.477542  three
2020-01-05  0.109581  0.861716 -1.025399  0.822405   four
2020-01-06 -1.239584 -0.831058 -0.284851 -0.560747  three

In [43]:
df2[df2['E'].isin(['two','four'])]
# 필터링을 위한 메소드 isin() -> 해당 값만 불러옴

                   A         B         C         D     E
2020-01-03  0.415994 -1.770735 -0.167865  1.044755   two
2020-01-05  0.109581  0.861716 -1.025399  0.822405  four

In [45]:
# 새로운 열 설정
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20200101',periods=6))
s1

2020-01-01    1
2020-01-02    2
2020-01-03    3
2020-01-04    4
2020-01-05    5
2020-01-06    6
Freq: D, dtype: int64

In [46]:
df['F'] = s1
df

                   A         B         C         D  F
2020-01-01  1.981941  0.144131  1.360893  0.921298  1
2020-01-02 -0.218870 -0.279379 -0.364372  0.455894  2
2020-01-03  0.415994 -1.770735 -0.167865  1.044755  3
2020-01-04 -0.280915 -0.470731 -1.014859 -0.477542  4
2020-01-05  0.109581  0.861716 -1.025399  0.822405  5
2020-01-06 -1.239584 -0.831058 -0.284851 -0.560747  6

In [48]:
df.iat[0,1] = 0
df

                   A         B         C         D  F
2020-01-01  1.981941  0.000000  1.360893  0.921298  1
2020-01-02 -0.218870 -0.279379 -0.364372  0.455894  2
2020-01-03  0.415994 -1.770735 -0.167865  1.044755  3
2020-01-04 -0.280915 -0.470731 -1.014859 -0.477542  4
2020-01-05  0.109581  0.861716 -1.025399  0.822405  5
2020-01-06 -1.239584 -0.831058 -0.284851 -0.560747  6