In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
s = pd.Series([1,3,5,np.nan,6,8])
# Series? -> 정수 index값을 기본적으로 포함한 1차원 자료배열
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
s.values
# series의 값만 확인
s = pd.Series([1,3,6,8], index=['a','b','c','d'])
# series 값/인덱스 변경 O
s

a    1
b    3
c    6
d    8
dtype: int64

In [8]:
dates = pd.date_range('20200101', periods=6)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-01-01  0.160255 -0.299161  1.345360 -1.397000
2020-01-02  0.393179  1.017466 -2.307710  1.484369
2020-01-03  1.270508 -0.563589  0.523564  0.702081
2020-01-04  0.252063 -1.236321  1.205589  0.068014
2020-01-05  0.354990  1.106442 -0.147980  0.278945
2020-01-06  0.556261 -0.826853 -0.260134  0.717837

In [10]:
df2 = pd.DataFrame({'A' : 1.0,
                   'B' : pd.Timestamp('20200102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3]*4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo'
                   })
df2

     A          B    C  D      E    F
0  1.0 2020-01-02  1.0  3   test  foo
1  1.0 2020-01-02  1.0  3  train  foo
2  1.0 2020-01-02  1.0  3   test  foo
3  1.0 2020-01-02  1.0  3  train  foo

In [11]:
df2.dtypes
# 결과물의 데이터 타입 확인

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [12]:
df.tail(3)
# 끝에서 마지막 3줄
df.head(3)
# 위에서 처음 3줄

                   A         B         C         D
2020-01-01  0.160255 -0.299161  1.345360 -1.397000
2020-01-02  0.393179  1.017466 -2.307710  1.484369
2020-01-03  1.270508 -0.563589  0.523564  0.702081

In [13]:
df.index
# index , 열column , numpy데이터 세부정보

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df.describe()
# 대략적 통계 정보

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.497876 -0.133669  0.059782  0.309041
std    0.401537  0.976888  1.336503  0.966702
min    0.160255 -1.236321 -2.307710 -1.397000
25%    0.277795 -0.761037 -0.232095  0.120747
50%    0.374085 -0.431375  0.187792  0.490513
75%    0.515491  0.688309  1.035083  0.713898
max    1.270508  1.106442  1.345360  1.484369

In [15]:
df.T
# 데이터 전치 -> index와 column 뒤바꿈

   2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05  2020-01-06
A    0.160255    0.393179    1.270508    0.252063    0.354990    0.556261
B   -0.299161    1.017466   -0.563589   -1.236321    1.106442   -0.826853
C    1.345360   -2.307710    0.523564    1.205589   -0.147980   -0.260134
D   -1.397000    1.484369    0.702081    0.068014    0.278945    0.717837

In [16]:
df.sort_index(axis=1, ascending=False)
# 축별로 정렬

                   D         C         B         A
2020-01-01 -1.397000  1.345360 -0.299161  0.160255
2020-01-02  1.484369 -2.307710  1.017466  0.393179
2020-01-03  0.702081  0.523564 -0.563589  1.270508
2020-01-04  0.068014  1.205589 -1.236321  0.252063
2020-01-05  0.278945 -0.147980  1.106442  0.354990
2020-01-06  0.717837 -0.260134 -0.826853  0.556261

In [17]:
df.sort_values(by='B')
# 값별로 정렬 -> 지금은 B의 데이터가 작은 순서대로 배열

                   A         B         C         D
2020-01-04  0.252063 -1.236321  1.205589  0.068014
2020-01-06  0.556261 -0.826853 -0.260134  0.717837
2020-01-03  1.270508 -0.563589  0.523564  0.702081
2020-01-01  0.160255 -0.299161  1.345360 -1.397000
2020-01-02  0.393179  1.017466 -2.307710  1.484369
2020-01-05  0.354990  1.106442 -0.147980  0.278945

In [18]:
df['A']
# Getting데이터얻기 -> df.A와 동일한 Series 생성하는 단일 열 선택

2020-01-01    0.160255
2020-01-02    0.393179
2020-01-03    1.270508
2020-01-04    0.252063
2020-01-05    0.354990
2020-01-06    0.556261
Freq: D, Name: A, dtype: float64

In [19]:
df[0:3]
# [] -> 행 분할

                   A         B         C         D
2020-01-01  0.160255 -0.299161  1.345360 -1.397000
2020-01-02  0.393179  1.017466 -2.307710  1.484369
2020-01-03  1.270508 -0.563589  0.523564  0.702081

In [20]:
df['20200101':'20200103']

                   A         B         C         D
2020-01-01  0.160255 -0.299161  1.345360 -1.397000
2020-01-02  0.393179  1.017466 -2.307710  1.484369
2020-01-03  1.270508 -0.563589  0.523564  0.702081

In [21]:
df.loc[dates[0]]
# Label통한 선택 -> 횡단면 획득(0번째 dates의 값 얻어옴)

A    0.160255
B   -0.299161
C    1.345360
D   -1.397000
Name: 2020-01-01 00:00:00, dtype: float64

In [22]:
df.loc[:,['A','B']]
# : -> index축은 전체 , A B 축만 얻어옴
# df.loc[dates[0],['A','B']] -> 0번째 date
# df.loc['20200102':'20200104', ['A','B']] -> index축 & A,B 축 얻어옴

                   A         B
2020-01-01  0.160255 -0.299161
2020-01-02  0.393179  1.017466
2020-01-03  1.270508 -0.563589
2020-01-04  0.252063 -1.236321
2020-01-05  0.354990  1.106442
2020-01-06  0.556261 -0.826853

In [23]:
df.loc['20200101',['A','B']]
# 단일 차원 객체 반환

A    0.160255
B   -0.299161
Name: 2020-01-01 00:00:00, dtype: float64

In [24]:
df.loc[dates[0],'A']
# 스칼라값(하나의 값인듯)
# = df.at[dates[0],'A'] (<- 더 빠른 연산 O)

0.16025483809838656

In [25]:
df

                   A         B         C         D
2020-01-01  0.160255 -0.299161  1.345360 -1.397000
2020-01-02  0.393179  1.017466 -2.307710  1.484369
2020-01-03  1.270508 -0.563589  0.523564  0.702081
2020-01-04  0.252063 -1.236321  1.205589  0.068014
2020-01-05  0.354990  1.106442 -0.147980  0.278945
2020-01-06  0.556261 -0.826853 -0.260134  0.717837

In [26]:
df.iloc[3]
# 위치로 선택 -> 넘겨받은 위치(3번째줄)를 기준으로 선택

A    0.252063
B   -1.236321
C    1.205589
D    0.068014
Name: 2020-01-04 00:00:00, dtype: float64

In [27]:
df.iloc[3:5,0:2]
# 3:5 -> 3~4! (맨 마지막은 포함X)
# 0:2 -> 마찬가지

                   A         B
2020-01-04  0.252063 -1.236321
2020-01-05  0.354990  1.106442

In [28]:
df.iloc[1:3,:]
# 행 나누기(열은 : = 그대로 있어라~)
df.iloc[:,1:3]
# 열 나누기

                   B         C
2020-01-01 -0.299161  1.345360
2020-01-02  1.017466 -2.307710
2020-01-03 -0.563589  0.523564
2020-01-04 -1.236321  1.205589
2020-01-05  1.106442 -0.147980
2020-01-06 -0.826853 -0.260134

In [29]:
df.iloc[1,1]
# 명시적으로 값 얻기
# 마찬가지 df.iat[1,1] -> 빠른 연산

1.0174655931665606

In [30]:
df[df.A>0]
# A 데이터를 기준, 0보다 큰 녀석들만 보여줌

                   A         B         C         D
2020-01-01  0.160255 -0.299161  1.345360 -1.397000
2020-01-02  0.393179  1.017466 -2.307710  1.484369
2020-01-03  1.270508 -0.563589  0.523564  0.702081
2020-01-04  0.252063 -1.236321  1.205589  0.068014
2020-01-05  0.354990  1.106442 -0.147980  0.278945
2020-01-06  0.556261 -0.826853 -0.260134  0.717837

In [31]:
df[df>0]
# Boolean조건 충족하는 데이터프레임 값 추출

                   A         B         C         D
2020-01-01  0.160255       NaN  1.345360       NaN
2020-01-02  0.393179  1.017466       NaN  1.484369
2020-01-03  1.270508       NaN  0.523564  0.702081
2020-01-04  0.252063       NaN  1.205589  0.068014
2020-01-05  0.354990  1.106442       NaN  0.278945
2020-01-06  0.556261       NaN       NaN  0.717837

In [32]:
df2 = df.copy()
df2['E'] = ['one','one','two','three','four','three']
df2

                   A         B         C         D      E
2020-01-01  0.160255 -0.299161  1.345360 -1.397000    one
2020-01-02  0.393179  1.017466 -2.307710  1.484369    one
2020-01-03  1.270508 -0.563589  0.523564  0.702081    two
2020-01-04  0.252063 -1.236321  1.205589  0.068014  three
2020-01-05  0.354990  1.106442 -0.147980  0.278945   four
2020-01-06  0.556261 -0.826853 -0.260134  0.717837  three

In [33]:
df2[df2['E'].isin(['two','four'])]
# 필터링을 위한 메소드 isin() -> 해당 값만 불러옴

                   A         B         C         D     E
2020-01-03  1.270508 -0.563589  0.523564  0.702081   two
2020-01-05  0.354990  1.106442 -0.147980  0.278945  four

In [34]:
# 새로운 열 설정
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20200101',periods=6))
s1

2020-01-01    1
2020-01-02    2
2020-01-03    3
2020-01-04    4
2020-01-05    5
2020-01-06    6
Freq: D, dtype: int64

In [35]:
df['F'] = s1
df

                   A         B         C         D  F
2020-01-01  0.160255 -0.299161  1.345360 -1.397000  1
2020-01-02  0.393179  1.017466 -2.307710  1.484369  2
2020-01-03  1.270508 -0.563589  0.523564  0.702081  3
2020-01-04  0.252063 -1.236321  1.205589  0.068014  4
2020-01-05  0.354990  1.106442 -0.147980  0.278945  5
2020-01-06  0.556261 -0.826853 -0.260134  0.717837  6

In [40]:
df.iat[0,1] = 0
# 위치 통해 값 설정
df.at[dates[0],'A'] = 0
# 라벨 통해 값 설정
df.loc[:,'D'] = np.array([5]*len(df))
# Numpy 배열 사용한 할당 - ?
# np.array()
df

                   A         B         C  D  F
2020-01-01  0.000000  0.000000  1.345360  5  1
2020-01-02  0.393179  1.017466 -2.307710  5  2
2020-01-03  1.270508 -0.563589  0.523564  5  3
2020-01-04  0.252063 -1.236321  1.205589  5  4
2020-01-05  0.354990  1.106442 -0.147980  5  5
2020-01-06  0.556261 -0.826853 -0.260134  5  6

In [41]:
df2 = df.copy()
df2[df2>0] = -df2
df2

                   A         B         C  D  F
2020-01-01  0.000000  0.000000 -1.345360 -5 -1
2020-01-02 -0.393179 -1.017466 -2.307710 -5 -2
2020-01-03 -1.270508 -0.563589 -0.523564 -5 -3
2020-01-04 -0.252063 -1.236321 -1.205589 -5 -4
2020-01-05 -0.354990 -1.106442 -0.147980 -5 -5
2020-01-06 -0.556261 -0.826853 -0.260134 -5 -6

In [46]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
# reindex -> 지정된 축 상 인덱스를 변경/추가/삭제 O
df1.loc[dates[0]:dates[1],'E'] = 1
df1

                   A         B         C  D  F    E
2020-01-01  0.000000  0.000000  1.345360  5  1  1.0
2020-01-02  0.393179  1.017466 -2.307710  5  2  1.0
2020-01-03  1.270508 -0.563589  0.523564  5  3  NaN
2020-01-04  0.252063 -1.236321  1.205589  5  4  NaN

In [47]:
df1.dropna(how='any')
#  값 없는 행 삭제

                   A         B        C  D  F    E
2020-01-01  0.000000  0.000000  1.34536  5  1  1.0
2020-01-02  0.393179  1.017466 -2.30771  5  2  1.0

In [48]:
df1.fillna(value=5)
# 결측치 채워넣음

                   A         B         C  D  F    E
2020-01-01  0.000000  0.000000  1.345360  5  1  1.0
2020-01-02  0.393179  1.017466 -2.307710  5  2  1.0
2020-01-03  1.270508 -0.563589  0.523564  5  3  5.0
2020-01-04  0.252063 -1.236321  1.205589  5  4  5.0

In [49]:
pd.isna(df1)
# nan인 값에만 True표시

                A      B      C      D      F      E
2020-01-01  False  False  False  False  False  False
2020-01-02  False  False  False  False  False  False
2020-01-03  False  False  False  False  False   True
2020-01-04  False  False  False  False  False   True

In [51]:
df

                   A         B         C  D  F
2020-01-01  0.000000  0.000000  1.345360  5  1
2020-01-02  0.393179  1.017466 -2.307710  5  2
2020-01-03  1.270508 -0.563589  0.523564  5  3
2020-01-04  0.252063 -1.236321  1.205589  5  4
2020-01-05  0.354990  1.106442 -0.147980  5  5
2020-01-06  0.556261 -0.826853 -0.260134  5  6

In [52]:
df.mean()
# .mean() -> 평균 구하는 함수

A    0.471167
B   -0.083809
C    0.059782
D    5.000000
F    3.500000
dtype: float64

In [53]:
df.mean(1)
# 1번 축에서 실행

2020-01-01    1.469072
2020-01-02    1.220587
2020-01-03    1.846097
2020-01-04    1.844266
2020-01-05    2.262691
2020-01-06    2.093855
Freq: D, dtype: float64

In [55]:
s = pd.Series([1,3,5,np.nan,6,8],index=dates).shift(2)
# series(data,index)로 데이터배열 생성
# shift(2)로 데이터값 두칸씩 이동
s

2020-01-01    NaN
2020-01-02    NaN
2020-01-03    1.0
2020-01-04    3.0
2020-01-05    5.0
2020-01-06    NaN
Freq: D, dtype: float64

In [57]:
df.sub(s, axis=0)
# sub(빼기) / add(더하기) -> 행에 대한 연산
# 평균계산 등을 할때 축axis 지정!
# axis=0 -> index기준 / axis=1 -> columns기준

                   A         B         C    D    F
2020-01-01       NaN       NaN       NaN  NaN  NaN
2020-01-02       NaN       NaN       NaN  NaN  NaN
2020-01-03  0.270508 -1.563589 -0.476436  4.0  2.0
2020-01-04 -2.747937 -4.236321 -1.794411  2.0  1.0
2020-01-05 -4.645010 -3.893558 -5.147980  0.0  0.0
2020-01-06       NaN       NaN       NaN  NaN  NaN

In [60]:
df.apply(np.cumsum)
# cumsum -> 배열에서 주어진 축 따라 누적되는 원소들의 누적 합

                   A         B         C   D   F
2020-01-01  0.000000  0.000000  1.345360   5   1
2020-01-02  0.393179  1.017466 -0.962350  10   3
2020-01-03  1.663687  0.453877 -0.438786  15   6
2020-01-04  1.915750 -0.782444  0.766803  20  10
2020-01-05  2.270740  0.323998  0.618823  25  15
2020-01-06  2.827001 -0.502855  0.358689  30  21

In [62]:
s = pd.Series(np.random.randint(0,7,size=10))
s

0    3
1    2
2    4
3    0
4    6
5    5
6    4
7    5
8    3
9    2
dtype: int32

In [63]:
s.value_counts()

5    2
4    2
3    2
2    2
6    1
0    1
dtype: int64

In [66]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()
# 소문자 변경함수 lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [67]:
df = pd.DataFrame(np.random.randn(10,4))
df

          0         1         2         3
0  1.362076 -0.251102  0.538723  0.758092
1 -0.148459  1.133114  0.789008 -1.818431
2  0.754572  0.769267 -0.134827 -1.604392
3 -0.235136  1.391740 -1.977359  1.115819
4 -2.241778 -1.442820  0.052830  0.525498
5 -0.335603 -1.077804  0.659153  1.512965
6 -0.186572  0.381448 -0.282911  1.227357
7 -0.019432  0.090386 -0.572191 -1.119624
8  0.552763 -0.553810 -0.679604  1.305303
9  0.012841  0.995005  0.499103 -0.816519

In [73]:
pieces = [df[:3], df[3:7], df[7:]]
pd.concat(pieces)

          0         1         2         3
0  1.362076 -0.251102  0.538723  0.758092
1 -0.148459  1.133114  0.789008 -1.818431
2  0.754572  0.769267 -0.134827 -1.604392
3 -0.235136  1.391740 -1.977359  1.115819
4 -2.241778 -1.442820  0.052830  0.525498
5 -0.335603 -1.077804  0.659153  1.512965
6 -0.186572  0.381448 -0.282911  1.227357
7 -0.019432  0.090386 -0.572191 -1.119624
8  0.552763 -0.553810 -0.679604  1.305303
9  0.012841  0.995005  0.499103 -0.816519

In [82]:
left = pd.DataFrame({'key':['foo','bar'], 'lval':[1,2]})
right = pd.DataFrame({'key':['foo','bar'], 'rval':[4,5]})
left

   key  lval
0  foo     1
1  bar     2

In [83]:
right

   key  rval
0  foo     4
1  bar     5

In [84]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  bar     2     5

In [ ]:
# ---append앞까지---